# Update the following with endpoints
AURORA_ENDPOINT_ID=
PERLMUTTER_ENDPOINT_ID=
FRONTIER_ENDPOINT_ID=
# Public Tutorial Endpoint ID
TUTORIAL_ENDPOINT_ID='4b116d3c-1703-4f8f-9f6f-39921e5864df'


# UserAgent's ID from dashboard.academy-agents.org
USER_AGENT_ID=
